p, li {
    max-width: 700px;
}

.heroSection {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 50px;

    h1 {
        margin-bottom: 30px;
    }
}

.statue {
    max-width: 400px;
}

.mockupSection {
    margin-top: 125px;

    h3 {
        max-width: 600px;
        display: inline-block;
        margin-bottom: 50px;
    }

    img {
        max-width: 100%;
        margin-bottom: 100px;
    }

    h2 {
        margin-bottom: 10px;
    }
}

.demographic {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.affinitySection {
    margin-top: 100px;
     h2 {
        margin-bottom: 20px;
     }
}

.affinityContainer {
    display: flex;
    margin-top: 50px;
}

.affinityColumn {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.personaSection {
    margin-top: 50px;

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 32px;
    
    }
}

.personaContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}

.mary {
    max-width: 300px;
}

.asIsSection {
    margin-top: 150px;

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 50px;
    }
}