
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 60px;
    height: 60px;
}

.nav-link {
    color: #000;
    text-decoration: none;
}

.nav-link:hover {
    color: #FFB5DC;
}

.nav-link.active {
    color: #96B3E6;
}