
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 60px;
    height: 60px;
}

.navLink {
    color: #000;
    text-decoration: none;
}

.navLink:hover {
    color: #FFB5DC;
}