
p, li {
    max-width: 750px;
}

section {
    margin-top: 125px;
}

.titleSpacing {
    margin-bottom: 20px;
}

.paraSpacing {
    margin-bottom: 32px;
}

.heroSection {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.posMachine {
    max-width: 350px;
}

.posNotes {
    max-width: 80%;
}

.personaSection {
    display: flex;
    gap: 50px;
    align-items: center;
}

.tommyTipper {
    max-width: 215px;
}

.protoFlowContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.protoFlow {
    max-width: 48%;
}

.takeawaysSection {
    margin-bottom: 100px;
}


@media only screen and (max-width: 768px) {

    section {
        margin-top: 75px !important;
    }

    .heroSection {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 50px;
        margin-top: 50px !important;
    }

    .posMachine {
        max-width: 300px;
    }

    .posNotes {
        max-width: 100%;
    }

    .personaSection {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .protoFlowContainer {
        gap: 40px;
    }

    .protoFlow {
        max-width: 100%;
    }

}