
p, li {
    max-width: 750px;
}

section {
    margin-top: 125px;
}

.titleSpacing {
    margin-bottom: 20px;
}

.paraSpacing {
    margin-bottom: 32px;
}

.heroSection {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 50px;

}

.reImagine {
    display: block;
    font-weight: 400;
}

.sewingMachine {
    max-width: 350px;
}

.textileImgsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    /* max-width: 600px; */
    margin: 0 auto;
}

.textileImgs {
    max-width: 48%;
    box-shadow: 0px 50px 50px -50px rgba(0, 0, 0, 0.32);
}

.finalSection {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 100px;
}

.textileGroup {
    max-width: 50%;
    border-radius: 12px;
}

@media only screen and (max-width: 768px) {

    section {
        margin-top: 75px !important;
    }

    .heroSection {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 50px;
        margin-top: 50px !important;
    }

    .reImagine {
        display: inline;

    }

    .sewingMachine {
        max-width: 300px;
    }

    .textileImgsContainer {
        gap: 20px;
    }
    
    .textileImgs {
        max-width: 100%;
    }

    .finalSection {
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
    }

    .textileGroup {
        max-width: 100%;
    }

}