
.heroSectionDots {
    display: flex;
    gap: 100px;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 750px;
    margin-top: 100px;
}

.heroTitle h1 {
    font-size: 4rem;
}

.heroTitle h4 {
    font-weight: 400;
}

.dotSquare {
    width: 132px;
}

.line {
    max-width: 750px;
    height: 2px;
    margin: 20px 0;
    background-color: #000;
}

.workSection {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workProjects {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    max-width: 950px;
}

.workItem {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-radius: 20px;
    border: 2px solid #000;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.10);
}

.projectDesc {
    max-width: 750px;

    h4 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 40px;
    }
}

.projectHeroImg {
    max-width: 300px;
}

@media only screen and (max-width: 768px) {

    .heroSectionDots {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 25px;
        margin-top: 50px;
    }

    .dotSquare {
        width: 100px;
    }

    .workSection {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .workItem {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 50px;
        padding: 32px 25px
    }

    .workItem:nth-child(2) {
        flex-direction: column;
    }

    .projectHeroImg {
        max-width: 200px;
    }

}